<div class='flex flex-col items-center h-screen w-full p-5'>
  <p class='text-4xl'>Stock Screener</p>
  <%= form_with url: search_stocks_path, method: :post, id: 'stock-screener-form', class: 'w-full', data: { turbo: false } do |form| %>
    <%= render 'market_segment' %>
    <%= render 'price_and_volume' %>
    <%= render 'fundamentals' %>
    <%= render 'earnings_and_dividents' %>
    <%= render 'debt' %>
    <%= render 'opinion' %>
    <div class='flex justify-center mt-6 mb-4'>
      <%= form.submit 'Search Stocks', class: 'px-8 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors text-lg font-semibold cursor-pointer' %>
    </div>
  <% end %>
</div>