<div class='flex flex-col items-center h-screen w-full p-5'>
  <p class='text-4xl'>Stock Screener</p>
  <%= render 'market_segment' %>
  <%= render 'price_and_volume' %>
  <%= render 'fundamentals' %>
  <%= render 'earnings_and_dividents' %>
  <%= render 'debt' %>
  <%= render 'opinion' %>
</div>